<mat-card style="margin-top: 26px;" >
    <div class="map-header" fxLayout="row" fxLayoutAlign="space-between">
        <span></span>
        <span fxLayoutAlign="center">MAP VIEW</span>
        <span   fxLayoutAlign="start">
            <mat-icon aria-hidden="false" aria-label="Example home icon">refresh</mat-icon> Refresh
        </span>
    </div>
    <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]='true' [mapTypeControl]='true'></agm-map>
</mat-card>

<!-- <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
    [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

    <agm-info-window>
        <strong>InfoWindow content</strong>
    </agm-info-window>

</agm-marker> -->
<!--
<agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
[radius]="5000"
[fillColor]="'red'"
[circleDraggable]="true"
[editable]="true">
</agm-circle></agm-map> -->